NEON_AUTH_URL=https://xxx/neondb/auth/sign-up/email
EMAIL=admin@example.com
PASSWORD=xxx
NAME=Admin
ORIGIN=http://localhost:3000
VITE_CREATOR_NAME=xxx
VITE_NEON_DB_URL=postgresql://xxx/neondb?sslmode=require&channel_binding=require
VITE_NEON_AUTH_URL=https://xxx/neondb/auth/sign-in/email
